{% load static %}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R3KRUT</title>
    <script src="https://kit.fontawesome.com/c73642228e.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'basic/navigation.html' %}

    {% block content %}

    {% endblock %}

    <hr>
    <div class="jumbotron">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-4 col-md">
            <img class="" src="{% static 'images/logo.jpg' %}" width='100' height='100'>
            <small class="d-block mb-3 text-muted">&copy; 2020</small>
            <div>Doakan website ini semakin berkembang dalam kebaikan ya, abang dan kakak yang baik hatinya.</div>
          </div>

          <div class="col-4 col-md">
            <h5>Informasi?</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="">FAQ</a></li>
              <li><a class="text-muted" href="">Feature</a></li>
              <li><a class="text-muted" href="">Kontribusi</a></li>
            </ul>
          </div>
          <div class="col-4 col-md">
            <h5>Kontak</h5>
            <ul class="list-unstyled text-small">
              <li>irzaip [at] gmail [dot] com</li>
              <li>asman13300045 [at] gmail [dot] com </li>
              <li>erisriso [at] gmail [dot] com</li>
              <li>alternative.xen [at] gmail [dot] com</li>
            </ul>
          </div>
          <div class="col-4 col-md">
            <h5>Lokasi</h5>
            <ul class="list-unstyled text-small">
              <li>Jakarta</li>
              <li>Pekanbaru</li>
              <li>Jambi</li>
              <li>Gorontalo</li>
            </ul>
          </div>
        </div>
      </footer>
      </div>
</body>
</html>